export(initDat)
export(str_lengthTest)
export(sumTechReps)
export(est_r_m)
export(dynRangePlot)
export(geneExprTest)
export(estLODR)
export(maConcPlot)
export(saveResults)
export(dynRangePlotLODR)
export(printLODRres)
export(erccROC)