import(reshape2)
import(plyr)
import(scales)
import(edgeR)
import(locfit)
import(QuasiSeq)
import(grid)
import(gridExtra)
import(stringr)
import(ROCR)
import(ggplot2)
export(initDat)
export(est_r_m)
export(geneExprTest)
export(erccROC)
export(estLODR)
export(dynRangePlot)
export(annotLODR)
export(savePlots)
export(saveResults)
export(dashboardFile)